/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {

}

article {

}

h1 {

}

img {
    max-width: 100%;
    background-position: center center;
    background-size: 100%;
}

.still_life{
    background: url("../images/still_life-small_xs.jpg") no-repeat 0 0;
}
